/* utiliser une police personnalisée via @font-face */
@font-face {
    font-family: 'sinkin_sans400_regular';
    src: url('SinkinSans-400Regular-webfont.eot');
    src: url('SinkinSans-400Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('SinkinSans-400Regular-webfont.woff2') format('woff2'),
         url('SinkinSans-400Regular-webfont.woff') format('woff'),
         url('SinkinSans-400Regular-webfont.ttf') format('truetype'),
         url('SinkinSans-400Regular-webfont.svg#sinkin_sans400_regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* changer la couleur d'un des textes */
h2
{
    color:slateblue;
}

/* changement de l'alignement d'un des textes */
.liste
{
    text-align: center;
}
    
/* appliquer une image de fond à la page */
body
{
    background: url("fond.jpg") fixed;
} 
/* définir la bordure et l'ombre d'un élément */
h2
{
    border: 3px green double;
    box-shadow: 4px 4px 10px violet;
}

/* insérer un liseret à gauche, défini en valeur absolue */
#liseré
{
    background-image: url(lodyas.png);
    width: 10%;
    height: 500px;
   
}

#contenu
{
        width: 90%;
        height: 500px;
        vertical-align: top;
}       


.image
{
    float: right;
    border: 6px black solid;
    margin-bottom: 10px;

  

}

h1
{
    text-align: center;
    vertical-align: top;
    flex: 6 ; 
   
}

section
{
    display: inline-block;
    vertical-align: top;
    width: 25%;
    margin-right: 3px;
    text-align: center;
}
.s1
{
    clear:both;
    margin-left: 5px;
}

body
{
    display: flex;
}